# Ignore everything
*

# Except these:
!.gitignore
!Config_jo.txt
!Config_jo.yaml
!Config_jo.json
!main.py
!README.md
!requirements.txt
!Original-Configs.txt

# Allow saving weekly archive and timer log
!conf-week.txt
!reset_log.txt
!conf-week-history.json
