# Ignore everything
*

# Except these:
!.gitignore
!Config_jo.txt
!Config_jo.yaml
!Config_jo.json
!main.py
!README.md
!requirements.txt
!Original-Configs.txt
!blocked_ips.txt
!Config_no_cf.txt
!no_cf_history.json
# Allow saving weekly archives and history
!conf-week.txt
!conf-week-history.json

# Allow top countries files
!conf-US.txt
!conf-DE.txt
!conf-NL.txt
!conf-UK.txt
!conf-FR.txt
