port: 7890
socks-port: 7891
allow-lan: true
mode: rule
proxies: []
proxy-groups:
- name: PROXY
  type: select
  proxies:
  - ⚡ Auto-Select
  - DIRECT
- name: ⚡ Auto-Select
  type: url-test
  proxies: []
  url: http://www.gstatic.com/generate_204
  interval: 300
rules:
- MATCH,PROXY
