pyrogram==2.0.106 # یا جدیدترین نسخه پایروگرام (موقع نصب بررسی کنید که نسخه 2.x باشد)
PyYAML==6.0.1     # یا جدیدترین نسخه PyYAML
tgcrypto          # اختیاری: برای سرعت بیشتر Pyrogram، توصیه می‌شود
requests
ipaddress
